/assets/tests/pdf/generated/*
/src2
/ietp_n219
/tidakDipakai
/src_tidakDipakai
/src_tidakDipakai2
/vendor
/demo12.xml
/index.php
/index3.php
/Neutrik NRJ-NUT-MK.step
/tes.pdf
# /.phpunit.cache
# /node_modules
# /public/build
# /public/hot
# /public/storage
# /storage/*.key
# /vendor
# .env
# .env.backup
# .env.production
# .phpunit.result.cache
# Homestead.json
# Homestead.yaml
# auth.json
# npm-debug.log
# yarn-error.log
# /.fleet
# /.idea
# /.vscode
# /ietp_n219