<?xml version="1.0" encoding="UTF-8"?>
<!-- perbaiki xsl nya
  attribute @cgmark-offset sudah tidak ada unit satuannya
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../assets/schemas/config.xsd">
  <output>
    <method type="pdf">
      <path product-name="*">../Transformer/xsl/pdf/CN235/Main.xsl</path>
      <path product-name="CN235">../Transformer/xsl/pdf/CN235/Main.xsl</path>
      <path product-name="assets">../Transformer/xsl/pdf/assets</path>
    </method>
    <method type="html">
      <path product-name="*">./index.xsl</path>
    </method>
  </output>
  <layout type="pdf" master-name="default-A4L" length-unit="cm" area-unit="pt" width="29.7" height="21" default-font-size="11" cgmark-offset="0.5" start-indent="1.5" orientation="land">
    <simple-page-master>
      <master-name_for_odd>odd</master-name_for_odd>
      <margin-top_for_odd>3</margin-top_for_odd>
      <margin-bottom_for_odd>1.5</margin-bottom_for_odd>
      <margin-left_for_odd>2</margin-left_for_odd>
      <margin-right_for_odd>1</margin-right_for_odd>
      <margin-top_for_odd_body>0</margin-top_for_odd_body>
      <margin-bottom_for_odd_body>0</margin-bottom_for_odd_body>
      <margin-left_for_odd_body>1</margin-left_for_odd_body>
      <margin-right_for_odd_body>1</margin-right_for_odd_body>
      <extent_for_odd_header>0.5</extent_for_odd_header>
      <extent_for_odd_footer>-1.5</extent_for_odd_footer>

      <master-name_for_even>even</master-name_for_even>
      <margin-top_for_even>1.5</margin-top_for_even>
      <margin-bottom_for_even>3</margin-bottom_for_even>
      <margin-left_for_even>2</margin-left_for_even>
      <margin-right_for_even>1</margin-right_for_even>
      <margin-top_for_even_body>0</margin-top_for_even_body>
      <margin-bottom_for_even_body>0</margin-bottom_for_even_body>
      <margin-left_for_even_body>1</margin-left_for_even_body>
      <margin-right_for_even_body>1</margin-right_for_even_body>
      <extent_for_even_header>0.5</extent_for_even_header>
      <extent_for_even_footer>-1.5</extent_for_even_footer>

      <master-name_for_leftBlank>left-blank</master-name_for_leftBlank>
      <margin-top_for_leftBlank>1</margin-top_for_leftBlank>
      <margin-bottom_for_leftBlank>1</margin-bottom_for_leftBlank>
      <margin-left_for_leftBlank>1.5</margin-left_for_leftBlank>
      <margin-right_for_leftBlank>3</margin-right_for_leftBlank>
      <margin-top_for_leftBlank_body>1.5</margin-top_for_leftBlank_body>
      <margin-bottom_for_leftBlank_body>2</margin-bottom_for_leftBlank_body>
      <margin-left_for_leftBlank_body>0</margin-left_for_leftBlank_body>
      <margin-right_for_leftBlank_body>0</margin-right_for_leftBlank_body>
      <extent_for_leftBlank_header>1.5</extent_for_leftBlank_header>
      <extent_for_leftBlank_footer>2</extent_for_leftBlank_footer>

      <region-name_for_body>body</region-name_for_body>
      <region-name_for_bodyLeftBlank>left_blank</region-name_for_bodyLeftBlank>
      <region-name_for_headerOdd>header-odd</region-name_for_headerOdd>
      <region-name_for_footerOdd>footer-odd</region-name_for_footerOdd>
      <region-name_for_headerEven>header-even</region-name_for_headerEven>
      <region-name_for_footerEven>footer-even</region-name_for_footerEven>
      <region-name_for_headerLeftBlank>header-left_blank</region-name_for_headerLeftBlank>
      <region-name_for_footerLeftBlank>footer-left_blank</region-name_for_footerLeftBlank>
    </simple-page-master>
  </layout>
  <layout type="pdf" master-name="default-A4" length-unit="cm" area-unit="pt" width="21" height="29.7" default-font-size="11" cgmark-offset="2" start-indent="1.5" orientation="port">
    <simple-page-master>
      <master-name_for_odd>odd</master-name_for_odd>
      <margin-top_for_odd>1</margin-top_for_odd>
      <margin-bottom_for_odd>1</margin-bottom_for_odd>
      <margin-left_for_odd>3</margin-left_for_odd>
      <margin-right_for_odd>1.5</margin-right_for_odd>
      <margin-top_for_odd_body>1.5</margin-top_for_odd_body>
      <margin-bottom_for_odd_body>1.7</margin-bottom_for_odd_body>
      <margin-left_for_odd_body>0</margin-left_for_odd_body>
      <margin-right_for_odd_body>0</margin-right_for_odd_body>
      <extent_for_odd_header>1.5</extent_for_odd_header>
      <extent_for_odd_footer>1.5</extent_for_odd_footer>

      <master-name_for_even>even</master-name_for_even>
      <margin-top_for_even>1</margin-top_for_even>
      <margin-bottom_for_even>1</margin-bottom_for_even>
      <margin-left_for_even>1.5</margin-left_for_even>
      <margin-right_for_even>3</margin-right_for_even>
      <margin-top_for_even_body>1.5</margin-top_for_even_body>
      <margin-bottom_for_even_body>1.7</margin-bottom_for_even_body>
      <margin-left_for_even_body>0</margin-left_for_even_body>
      <margin-right_for_even_body>0</margin-right_for_even_body>
      <extent_for_even_header>1.5</extent_for_even_header>
      <extent_for_even_footer>1.5</extent_for_even_footer>

      <master-name_for_leftBlank>left-blank</master-name_for_leftBlank>
      <margin-top_for_leftBlank>1</margin-top_for_leftBlank>
      <margin-bottom_for_leftBlank>1</margin-bottom_for_leftBlank>
      <margin-left_for_leftBlank>1.5</margin-left_for_leftBlank>
      <margin-right_for_leftBlank>3</margin-right_for_leftBlank>
      <margin-top_for_leftBlank_body>1.5</margin-top_for_leftBlank_body>
      <margin-bottom_for_leftBlank_body>2</margin-bottom_for_leftBlank_body>
      <margin-left_for_leftBlank_body>0</margin-left_for_leftBlank_body>
      <margin-right_for_leftBlank_body>0</margin-right_for_leftBlank_body>
      <extent_for_leftBlank_header>1.5</extent_for_leftBlank_header>
      <extent_for_leftBlank_footer>2</extent_for_leftBlank_footer>

      <region-name_for_body>body</region-name_for_body>
      <region-name_for_bodyLeftBlank>left_blank</region-name_for_bodyLeftBlank>
      <region-name_for_headerOdd>header-odd</region-name_for_headerOdd>
      <region-name_for_footerOdd>footer-odd</region-name_for_footerOdd>
      <region-name_for_headerEven>header-even</region-name_for_headerEven>
      <region-name_for_footerEven>footer-even</region-name_for_footerEven>
      <region-name_for_headerLeftBlank>header-left_blank</region-name_for_headerLeftBlank>
      <region-name_for_footerLeftBlank>footer-left_blank</region-name_for_footerLeftBlank>
    </simple-page-master>
  </layout>
  <layout type="pdf" master-name="default-pm" length-unit="cm" area-unit="pt" width="21" height="29.7" default-font-size="11" cgmark-offset="2" start-indent="1.5" orientation="port">
    <simple-page-master>
      <master-name_for_odd>oddA4</master-name_for_odd>
      <margin-top_for_odd>1</margin-top_for_odd>
      <margin-bottom_for_odd>1</margin-bottom_for_odd>
      <margin-left_for_odd>3</margin-left_for_odd>
      <margin-right_for_odd>1.5</margin-right_for_odd>
      <margin-top_for_odd_body>1.5</margin-top_for_odd_body>
      <margin-bottom_for_odd_body>1.7</margin-bottom_for_odd_body>
      <margin-left_for_odd_body>0</margin-left_for_odd_body>
      <margin-right_for_odd_body>0</margin-right_for_odd_body>
      <extent_for_odd_header>1.5</extent_for_odd_header>
      <extent_for_odd_footer>1.5</extent_for_odd_footer>

      <master-name_for_even>evenA4</master-name_for_even>
      <margin-top_for_even>1</margin-top_for_even>
      <margin-bottom_for_even>1</margin-bottom_for_even>
      <margin-left_for_even>1.5</margin-left_for_even>
      <margin-right_for_even>3</margin-right_for_even>
      <margin-top_for_even_body>1.5</margin-top_for_even_body>
      <margin-bottom_for_even_body>1.7</margin-bottom_for_even_body>
      <margin-left_for_even_body>0</margin-left_for_even_body>
      <margin-right_for_even_body>0</margin-right_for_even_body>
      <extent_for_even_header>1.5</extent_for_even_header>
      <extent_for_even_footer>1.5</extent_for_even_footer>

      <master-name_for_leftBlank>left-blankA4</master-name_for_leftBlank>
      <margin-top_for_leftBlank>1</margin-top_for_leftBlank>
      <margin-bottom_for_leftBlank>1</margin-bottom_for_leftBlank>
      <margin-left_for_leftBlank>1.5</margin-left_for_leftBlank>
      <margin-right_for_leftBlank>3</margin-right_for_leftBlank>
      <margin-top_for_leftBlank_body>1.5</margin-top_for_leftBlank_body>
      <margin-bottom_for_leftBlank_body>2</margin-bottom_for_leftBlank_body>
      <margin-left_for_leftBlank_body>0</margin-left_for_leftBlank_body>
      <margin-right_for_leftBlank_body>0</margin-right_for_leftBlank_body>
      <extent_for_leftBlank_header>1.5</extent_for_leftBlank_header>
      <extent_for_leftBlank_footer>2</extent_for_leftBlank_footer>

      <region-name_for_body>body</region-name_for_body>
      <region-name_for_bodyLeftBlank>left_blank</region-name_for_bodyLeftBlank>
      <region-name_for_headerOdd>header-odd</region-name_for_headerOdd>
      <region-name_for_footerOdd>footer-odd</region-name_for_footerOdd>
      <region-name_for_headerEven>header-even</region-name_for_headerEven>
      <region-name_for_footerEven>footer-even</region-name_for_footerEven>
      <region-name_for_headerLeftBlank>header-left_blank</region-name_for_headerLeftBlank>
      <region-name_for_footerLeftBlank>footer-left_blank</region-name_for_footerLeftBlank>
    </simple-page-master>
  </layout>
  <layout type="pdf" master-name="poh" length-unit="cm" area-unit="pt" width="14.8" height="21" default-font-size="10" cgmark-offset="2" start-indent="1.5" orientation="port">
    <simple-page-master>
      <master-name_for_odd>oddA5_poh</master-name_for_odd>
      <margin-top_for_odd>1</margin-top_for_odd>
      <margin-bottom_for_odd>1</margin-bottom_for_odd>
      <margin-left_for_odd>2</margin-left_for_odd>
      <margin-right_for_odd>1</margin-right_for_odd>
      <margin-top_for_odd_body>1.5</margin-top_for_odd_body>
      <margin-bottom_for_odd_body>1.2</margin-bottom_for_odd_body>
      <margin-left_for_odd_body>0</margin-left_for_odd_body>
      <margin-right_for_odd_body>0</margin-right_for_odd_body>
      <extent_for_odd_header>1.2</extent_for_odd_header>
      <extent_for_odd_footer>1.2</extent_for_odd_footer>

      <master-name_for_even>evenA4_poh</master-name_for_even>
      <margin-top_for_even>1</margin-top_for_even>
      <margin-bottom_for_even>1</margin-bottom_for_even>
      <margin-left_for_even>1</margin-left_for_even>
      <margin-right_for_even>2</margin-right_for_even>
      <margin-top_for_even_body>1.5</margin-top_for_even_body>
      <margin-bottom_for_even_body>1.2</margin-bottom_for_even_body>
      <margin-left_for_even_body>0</margin-left_for_even_body>
      <margin-right_for_even_body>0</margin-right_for_even_body>
      <extent_for_even_header>1.2</extent_for_even_header>
      <extent_for_even_footer>1.2</extent_for_even_footer>

      <master-name_for_leftBlank>left-blankA4_poh</master-name_for_leftBlank>
      <margin-top_for_leftBlank>1</margin-top_for_leftBlank>
      <margin-bottom_for_leftBlank>1</margin-bottom_for_leftBlank>
      <margin-left_for_leftBlank>1</margin-left_for_leftBlank>
      <margin-right_for_leftBlank>2</margin-right_for_leftBlank>
      <margin-top_for_leftBlank_body>1.2</margin-top_for_leftBlank_body>
      <margin-bottom_for_leftBlank_body>1.2</margin-bottom_for_leftBlank_body>
      <margin-left_for_leftBlank_body>0</margin-left_for_leftBlank_body>
      <margin-right_for_leftBlank_body>0</margin-right_for_leftBlank_body>
      <extent_for_leftBlank_header>1.2</extent_for_leftBlank_header>
      <extent_for_leftBlank_footer>1.2</extent_for_leftBlank_footer>

      <region-name_for_body>body</region-name_for_body>
      <region-name_for_bodyLeftBlank>left_blank</region-name_for_bodyLeftBlank>
      <region-name_for_headerOdd>header-odd</region-name_for_headerOdd>
      <region-name_for_footerOdd>footer-odd</region-name_for_footerOdd>
      <region-name_for_headerEven>header-even</region-name_for_headerEven>
      <region-name_for_footerEven>footer-even</region-name_for_footerEven>
      <region-name_for_headerLeftBlank>header-left_blank</region-name_for_headerLeftBlank>
      <region-name_for_footerLeftBlank>footer-left_blank</region-name_for_footerLeftBlank>
    </simple-page-master>
  </layout>
  <layout type="pdf" master-name="maintPlanning" length-unit="cm" area-unit="pt" width="29.7" height="21" default-font-size="11" cgmark-offset="0.5" start-indent="1.5" orientation="land">
    <simple-page-master>
      <master-name_for_odd>odd</master-name_for_odd>
      <margin-top_for_odd>3</margin-top_for_odd>
      <margin-bottom_for_odd>1.5</margin-bottom_for_odd>
      <margin-left_for_odd>2</margin-left_for_odd>
      <margin-right_for_odd>1</margin-right_for_odd>
      <margin-top_for_odd_body>0</margin-top_for_odd_body>
      <margin-bottom_for_odd_body>0</margin-bottom_for_odd_body>
      <margin-left_for_odd_body>1</margin-left_for_odd_body>
      <margin-right_for_odd_body>1</margin-right_for_odd_body>
      <extent_for_odd_header>0.5</extent_for_odd_header>
      <extent_for_odd_footer>-1.5</extent_for_odd_footer>

      <master-name_for_even>even</master-name_for_even>
      <margin-top_for_even>1.5</margin-top_for_even>
      <margin-bottom_for_even>3</margin-bottom_for_even>
      <margin-left_for_even>2</margin-left_for_even>
      <margin-right_for_even>1</margin-right_for_even>
      <margin-top_for_even_body>0</margin-top_for_even_body>
      <margin-bottom_for_even_body>0</margin-bottom_for_even_body>
      <margin-left_for_even_body>1</margin-left_for_even_body>
      <margin-right_for_even_body>1</margin-right_for_even_body>
      <extent_for_even_header>0.5</extent_for_even_header>
      <extent_for_even_footer>-1.5</extent_for_even_footer>

      <master-name_for_leftBlank>left-blank</master-name_for_leftBlank>
      <margin-top_for_leftBlank>1.5</margin-top_for_leftBlank>
      <margin-bottom_for_leftBlank>3</margin-bottom_for_leftBlank>
      <margin-left_for_leftBlank>2</margin-left_for_leftBlank>
      <margin-right_for_leftBlank>1</margin-right_for_leftBlank>
      <margin-top_for_leftBlank_body>0</margin-top_for_leftBlank_body>
      <margin-bottom_for_leftBlank_body>1</margin-bottom_for_leftBlank_body>
      <margin-left_for_leftBlank_body>1</margin-left_for_leftBlank_body>
      <margin-right_for_leftBlank_body>1</margin-right_for_leftBlank_body>
      <extent_for_leftBlank_header>0.5</extent_for_leftBlank_header>
      <extent_for_leftBlank_footer>-1.5</extent_for_leftBlank_footer>

      <region-name_for_body>body</region-name_for_body>
      <region-name_for_bodyLeftBlank>left_blank-maintPlanning</region-name_for_bodyLeftBlank>
      <region-name_for_headerOdd>header-odd-maintPlanning</region-name_for_headerOdd>
      <region-name_for_footerOdd>footer-odd-maintPlanning</region-name_for_footerOdd>
      <region-name_for_headerEven>header-even-maintPlanning</region-name_for_headerEven>
      <region-name_for_footerEven>footer-even-maintPlanning</region-name_for_footerEven>
      <region-name_for_headerLeftBlank>header-left_blank-maintPlanning</region-name_for_headerLeftBlank>
      <region-name_for_footerLeftBlank>footer-left_blank-maintPlanning</region-name_for_footerLeftBlank>
    </simple-page-master>
  </layout>
  <layout master-name="default-ietm" type="html" width="100" height="100" cgmark-offset="0.5" start-indent="0"></layout>
  
</config>